.page {
	background:#FFFFFF;
	width:100%;
	position: fixed;
	top:60px;
	bottom:0px;
	z-index:900;
	display:flex;
	overflow-x:hidden;
	overflow-y:hidden;
}

.empty {
	position:relative;
	width:33%;
	overflow:hidden;
	height:100%;
	float:right;
	right:0;
}
.posts {
	position:relative;
	width:33%;
	overflow-y:hidden;
	overflow-x:hidden;
	bottom:0px;
	float:right;
}

.postList {
	position:relative;
	height:calc(100vh - 100px);
	overflow-y:scroll;
	bottom:0px;
}

.compose {
	position:relative;
	width:34%;
	float:left;
}
		
		
.tabList {
	border-bottom: 1px solid #aaa;
	margin: 0 0 0px;
	padding: 0;
  }

  .tabListDiv {
	  display: inline-block;
  }
  
  .tab {
	display: inline-block;
	border: 1px solid transparent;
	border-bottom: none;
	bottom: -1px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
  }
  
  .tabSelected {
	display: inline-block;
	border: 1px solid transparent;
	border-bottom: none;
	bottom: -1px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
	background: #fff;
	border-color: #aaa;
	color: black;
	border-radius: 5px 5px 0 0;
  }