.page {
	background:#FFFFFF;
	width:100%;
	position: fixed;
	top:60px;
	bottom:0px;
	z-index:900;
	display:flex;
	overflow-x:hidden;
}

.empty {
	position:relative;
	width:33%;
	overflow:hidden;
	height:100%;
	float:right;
	right:0;
}
.posts {
	position:relative;
	width:33%;
	overflow-y:scroll;
	overflow-x:hidden;
	bottom:0px;
	float:right;
}

.compose {
	position:relative;
	bottom:0px;
	overflow-y:scroll;
	overflow-x:hidden;
	width:34%;
	float:left;
}
		