.page {
	background:#FFFFFF;
	width:100%;
	position: fixed;
	top:60px;
	bottom:0px;
	z-index:900;
	display:flex;
	overflow-x:hidden;
	overflow-y:hidden;
}

.responses {
	position:fixed;
	width:33%;
	overflow-y:hidden;
	overflow-x:hidden;
	height:100%;
	float:right;
	right:0;
	margin:auto;
}
.postContainer {
	position:relative;
	width:33%;
	overflow-y:scroll;
	overflow-x:hidden;
	float:left;
}

.post {
	position:relative;
	width:90%;
	margin:auto;
	top:10px;
}

.compose {
	position:relative;
	width:34%;
	float:left;
}
		