.compose {
	position:relative;
	background-color: #FFFFFF;
	overflow:hidden;
}

.avatarContainer {
	display:flex;
}

.name {
	height:40px;
	position:relative;
}

.richTextContainer {
	position:relative;
}