
html,
input,
textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: #eee;
  min-height:400px;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  background-color: #eee;
  padding: 3px;
}

img {
  max-width: 100%;
  max-height: 20em;
}

img.active {
  box-shadow: 0 0 0 2px blue;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir="rtl"] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

input {
  font-size: .85em;
  width: 100%;
  padding: .5em;
  border: 2px solid #ddd;
  background: #fafafa;
  min-height:400px;
}

input:focus {
  outline: 0;
  border-color: blue;
}

/**
 * Icons.
 */

.materialIcons {
  font-size: 18px;
  vertical-align: text-bottom;
}

/**
 * Example.
 */

.example {
  max-width: 42em;
  margin: 0 auto;
  background: #fff;
}

.editorContainerContainer {
  position:relative;
}

.editorContainer {
  position:relative;
  overflow-y:scroll;
  overflow-x:hidden;
  min-height:400px;
}

.editor > * > * + * {
  padding-top: 1em;
}

.menu > * {
  display: inline-block;
}

.menu > * + * {
  margin-left: 15px;
}

.button {
  color: #ccc;
  cursor: pointer;
}

.button[data-active="true"] {
  color: black;
}

.toolbarMenu {
  float:left;
  padding-top:15px;
}

.hoverMenu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity .75s;
}

.hoverMenu .button {
  color: #aaa;
}

.hoverMenu .button[data-active="true"] {
  color: #fff;
}

.emoji.selected {
  outline: 2px solid blue;
}

.checkListItem + .checkListItem {
  margin-top: 0;
}

.checkListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkListItem.checked {
  opacity: 0.666;
  text-decoration: line-through;
}

.checkListItem > span:firstChild {
  margin-right: 0.75em;
}

.checkListItem > span:lastChild {
  flex: 1;
}

.checkListItem > span:lastChild:focus {
  outline: none;
}

.wordCounter {
  margin-top: 10px;
  padding: 12px;
  background-color: #EBEBEB;
  display: inline-block;
}

.raisedButton {
  margin: 2;
}

.postButton {
  float:right;
  padding:10px 0 10px;
}

.toolbarContainer {
  border-bottom: 2px solid #eee;
  height:60px;
  position:relative;
  background-color: #FFFFFF;
  flex:1;
  width:100%;
  z-index:1000;
}

.sectionDiv {
  padding:2px;
}

.embededPostStyle {
  border: 1px solid gray;
  min-width:100%;
}