.backgroundStyle {
	margin: 0 !important;
	padding: 0 !important;
	position:fixed;
	width:100%;
	height:100vh;
	top:0px;
	right:0;
	z-index:100;
}

.backgroundStyle:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: .1;
	background: url(./bk_double_medium.jpg) 0 0 repeat;
}

.bodyStyle p,
.bodyStyle h1,
.bodyStyle h2,
.bodyStyle h3,
.bodyStyle h4,
.bodyStyle div,
.bodyStyle li{
	font-family: 'Titillium Web', sans-serif;
}

.elementStyle {
	position: relative;
	top: 65px;
	height:calc(100vh - 65px);
	color: #EFF7FF;
	background-color: transparent;
	font-size: 45px;
	z-index:900;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media(max-width: 600px){
	.elementStyle{
		flex-direction: column;
	}

}

.headerStyle {
	position:fixed;
	margin-bottom: 20px;
	top:0px;
	z-index:1000;
	width:100%;
	height:65px;
	display: flex;
	align-items:center;
	justify-content:center;
	background-color: rgba(0,0,0,0.4);
}

.topLogo{
	width:70px;
	height:70px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
}

.cobaselinetainerStyle {
	position:relative;
	top:50px;
	z-index:901;
}
		
.activeStyle {
	color:red !important;
}
		
.ulStyle {
	position: relative;
	width: 900px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: show;
	display: block;
	background-color: transparent;
	padding-left: 80px;
}

.ulStyle:after {
	content: "";
	display: table;
	clear: both;
}
@media(max-width: 900px) {
	.ulStyle{
		width: 100%;
	}
}
.liStyle {
	color:#FFF;
	height: 65px;
	line-height: 65px;
	text-align:center;
	float: left;
	padding:0 12px;
	font-weight: 100;
	text-decoration:none;
}

.active{
	background-color: rgba(255,255,255,0.2);
}

.websiteName{
	font-weight: 400;
}

.alphaStyle {
	float: right;
	color:#EFF7FF;
	text-align:center;
	padding:16px;
	text-decoration:none;
}

.emailForm{
	min-width: 400px;
}

@media(min-width: 600px){
	.emailForm{
		width: 500px;
	}
}

@media(max-width: 600px){
	.websiteName{
		display: none;
	}
	.alphaStyle {
		float: left;
		margin-left: 0px;
	}
	.liStyle{
		padding: 0 8px;
	}
}


.inkHeader {

}

.citadelHeader {

}

.image{
	max-height: 70vh;
}

.pStyle {
	max-width:400px;
	font-size:15px;
	font-family:'Titillium', sans-serif;
	font-weight: 200;
	z-index:901;
	text-align: justify;
}

.citadelPStyle {
	max-width:400px;
	font-size:20pt;
	font:arial;
	font-family:sans-serif;
	z-index:901;
}

.citadelStyle {
	font-size:40pt;
	font:arialBlack;
	font-family:sans-serif;
	z-index:901;
}

.bodyStyle {
	overflow: hidden;
	height: 100vh;
	position: relative;
	background-color: #1E2838;
}

.scrollContainer{
	width: 100%;
	margin: auto;
	height: auto;
	position: absolute;
}

.cardStyle {
	position: relative;
	margin:25px;
	padding:30px;
	min-width: 300px;
	background-color: rgba(0,0,0,0.4);
}


.titleCard{
	max-width: 300px;
	min-height: 250px;
}

@media(max-width: 600px){
	.cardStyle{
		margin: 5px;
	}
	.titleCard{
		margin: 10px;
		min-height: 150px;
	}
}
.cardStyle h2{
	font-family: 'Poppins', sans-serif;
	display: flex;
	font-weight: 100;
	align-items: center;
	margin: 0;
	font-size: 44px
}

.ctaDesktop{
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #50E3C2;
  padding: 10px 25px;
  background-color: rgba(31, 89, 76, 0.5);
  color: #50E3C2;
}

@media(max-width: 600px){
	.ctaDesktop{
		display: none;
	}
}

.ctaMobile{
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
	display: none;
  border: 1px solid #50E3C2;
  padding: 10px 25px;
  background-color: rgba(31, 89, 76, 0.4);
  color: #50E3C2;
}

.ctaDesktop:hover,
.ctaMobile:hover{
  background-color: rgba(31, 89, 76, 0.75);
}

@media(max-width: 600px){
	.ctaMobile{
		display: inline-block;
	}
}

.cardStyle h2 span{
	padding-left: 15px;
}

.cardStyle.ecoCard{
	padding: 10px;
}

.problemSection{
	min-height: 500px;
	max-width: 300px;
}

.problemSection h2{
	font-size: 38px;
}

.bulletSpan {
	font-size:20pt;
}

.citadelLogo {
	position: relative;
	left: 5px;
	top: 5px;
}

.inkLogo {
	position: relative;
	right:5px;
	top:5px;
}