.sectionDiv {
  position:relative;
  min-width:100%;
  margin:0px;
}

.embededPostStyle {
  border: 1px solid gray;
  min-width:80%;
  max-width:80%;
  margin:5px;
}

.editor {
  min-width:100%;
  margin-right:0px;
  margin-left:0px;
}


.p {
  margin: 10px;
}

.h1 {
  margin: 10px;
}

.h2 {
  margin: 10px;
}

.blockquote {
  border-left: 2px solid #ddd;
  margin: 10px;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}
