.sectionDiv {
  position:relative;
  padding:2px;
  min-width:100%;
  margin:0px;
}

.embededPostStyle {
  position:relative;
  right:2px;
  border: 1px solid gray;
  min-width:100%;

  margin:0px;
}

.editor {
  min-width:100%;
  margin-right:0px;
  margin-left:0px;
}