
.div {
  background-color:#B0E0E6;
  position:relative;
}

.basicInfo {
  display:flex;
}

.avatarContainer {
  float:left;
  margin:2px;
}

.nameAndTimeContainer {
  float:left;
  margin:2px;
}

.name {
  font-weight: bold;
}

.time {
  
}

.infoText {
  font-size:8pt;
}


.infoTextDiv {
  position:absolute;
  top:30px;
  right:5px;
}

.revText {
  position:relative;
  font-size:8pt;
  top:5px;
}


.revInfoDiv {
  position:absolute;
  display:flex;
  top:0px;
  right:5px;
}