

.focusedFooter {
	position:relative;
	border-top:1px solid #E0E0E0;
	width:100%;
}

.unfocusedFooter {
	position:relative;
	border-top:1px solid #E0E0E0;
	width:100%;
}

.mentions {
	text-align: center;
	font-size:8pt;
}

.buttonContainer {
	display:flex;
	flex-wrap:wrap;
}

.singleButton {
	position:relative;
}