
.div {
  background-color:#B0E0E6;
  position:relative;
}

.basicInfo {
  display:flex;
}

.avatar {
  size:100px;
}

.avatarContainer {
  float:left;
  margin:2px;
}

.nameAndTimeContainer {
  float:left;
  margin:2px;
}

.name {
  font-weight: bold;
}

.time {
  
}

.infoText {
  font-size:8pt;
}


.infoTextDiv {
  position:absolute;
  top:50px;
  right:5px;
}

.revText {
  position:relative;
  font-size:8pt;
  margin-top:5px;
}

.arrow {
  position:relative;
}


.revInfoDiv {
  position:absolute;
  top:45px;
  left:70px;
  display:flex;
}

.reviseDiv {
  position:absolute;
  top:0px;
  right:0px;
}