.unfocusedBody {
	background:#FFFFFF;
	position:relative;
	overflow:hidden;
	max-height:270px;
	margin:auto;
}

.focusedBody {
	background:#FFFFFF;
	position:relative;
	overflow:show;
	margin:auto;
}
			