
html,
input,
textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: #eee;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

.sectionDiv {
  padding:2px;
}

img {
  max-width: 100%;
  max-height: 20em;
}

img.active {
  box-shadow: 0 0 0 2px blue;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir="rtl"] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

.embededPostStyle {
  border: 1px solid gray;
}