

.focusedFooter {
	position:relative;
	border:1px solid gray;
	margin:auto;
	margin-top:5px;
	padding:5px;
}

.unfocusedFooter {
	position:relative;
	border:1px solid gray;
	margin:auto;
	margin-top:5px;
	padding:5px;
}

.mentions {
	margin:auto;
	text-align: center;
}

.buttonContainer {
	flex-wrap:wrap;
}